# Copyright (C) 2024 Yucheng Liu. GNU LGPL 3.0 License.
# GNU LGPL 3.0 License: https://www.gnu.org/licenses/lgpl-3.0.txt .

# Base .gitignore file.

# Ignore all file and directory names that start with a dot.
**/.*

# DO NOT ignore all *.git* files.
!**/*.git*
